.form-email{
    border: 0px;
}
span.form-message {
    font-size: 1rem;
    display: inline-block;
    padding-top: 1rem;
}
.invalid {
    border-color: #f33a58;
  }
  .form-message{
      color:#f33a58;
  }